<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Add</servlet-name>
  	<display-name>Add</display-name>
  	<description></description>
  	<servlet-class>devopstraining.Add</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Addition</servlet-name>
  	<display-name>Addition</display-name>
  	<description></description>
  	<servlet-class>Add</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Add1</servlet-name>
  	<display-name>Add1</display-name>
  	<description></description>
  	<servlet-class>Add</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addition1</servlet-name>
  	<display-name>addition1</display-name>
  	<description></description>
  	<servlet-class>addition1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Add</servlet-name>
  	<url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Addition</servlet-name>
  	<url-pattern>/Addition</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Add1</servlet-name>
  	<url-pattern>/Add1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addition1</servlet-name>
  	<url-pattern>/addition1</url-pattern>
  </servlet-mapping>
</web-app>
